@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-light: rgb(0, 134, 255);
}
body {
  font-family: 'Poppins', sans-serif;
}
/* container section-home */
.section-home header {
  display: flex;
  padding: 17px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.section-home header h1 {
  color: var(--color-light);
  font-size: 28px;
  font-weight: 600;
}
.section-home header img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
/* section-home nav */
.section-home nav {
  z-index: 999;
  position: sticky;
  top: 0;
  padding: 10px 20px;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
}
.section-home nav input {
  display: block;
  width: 100%;
  height: 45px;
  margin: 0 auto;
  padding: 0 45px;
  font-size: 16px;
  border: 1px solid var(--color-light);
  outline: none;
  box-sizing: border-box;
  border-radius: 20px;
}
.section-home nav i {
  position: absolute;
  top: 50%;
  left: 35px;
  color: var(--color-light);
  font-size: 20px;
  transform: translateY(-50%);
}
/* container contatcs */
.container.contacts {
  padding: 5px 5px;
  background-color: #EFF2F7;
}
.contact {
  display: grid;
  gap: 5px;
  align-items: center;
  padding: 10px 10px;
  border-left: 5px solid transparent;
  grid-template-columns: 50px auto 30px;
}
.contact:hover {
  border-left: 5px solid var(--color-light);
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(0,134,255,0.1) 0%, rgba(0,0,0,0) 100%);
}
.status {
  position: relative;
}
.status img {
  display: flex;
  align-items: center;
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}
.text.name p:nth-child(1) {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.text.name p:nth-child(2) {
  color: #333;
  width: 220px;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0.8;
  overflow: hidden;
}
.contact > span {
  display: block;
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: 22px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  background-color: var(--color-light);
}
/* container footer */
.container.footer {
  z-index: 999;
  position: sticky;
  width: 100%;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
}
.icon {
  display: flex;
  padding: 25px 35px;
  align-items: center;
  justify-content: space-between;
}
.icon i {
  color: #333;
  font-size: 25px;
}
.icon i:hover {
  color: var(--color-light);
}
.icon i:nth-child(2) {
  position: absolute;
  top: -28px;
  color: #fff;
  left: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--color-light);
}
/* container menu-bars */
.container.menu-bars {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-500px);
  background-color: #fff;
  opacity: 0;
  transition: all .8s ease;
}
.container.menu-bars.active {
  opacity: 1;
  transform: translateX(0);
}
.arrow {
  padding: 25px;
}
.arrow i {
  color: #333;
  font-size: 25px;
  cursor: pointer;
}
.camera {
  position: relative;
}
.camera img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 50%;
}
.camera i {
  position: absolute;
  left: calc(50% + 30px);
  bottom: 0;
  color: var(--color-light);
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  background-color: #EFF2F7;
  cursor: pointer;
}
.container.infomations {
  margin: 20px 0;
}
.information {
  display: grid;
  padding: 10px 35px;
  align-items: center;
  grid-template-columns: 40px auto 30px;
}
.information i:nth-child(1) {
  color: var(--color-light);
  font-size: 27px;
}
.information i:nth-child(3) {
  color: var(--color-light);
  font-size: 20px;
}
.value p:nth-child(1) {
  color: #333;
  font-size: 16px;
  text-transform: capitalize;
}
.value p:nth-child(2) {
  color: #333;
  font-size: 15px;
}
/* bagian page chat */
.container.header {
  position: fixed;
  top: 0;
  width: calc(100% - 40px);
  padding: 10px 20px;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
}
.container.header header {
  display: grid;
  width: 100%;
  gap: 10px;
  align-items: center;
  grid-template-columns: 40px auto 30px;
}
.container.header header img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.status.chat p:nth-child(1) {
  color: #333;
  font-size: 15px;
  text-transform: capitalize;
}
.status.chat p:nth-child(2) {
  color: var(--color-light);
  font-size: 13px;
}
.container.header header a  {
  color: var(--color-light);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #EFF2F7;
  cursor: pointer;
}
/* message */
.chat-box {
  margin-top: 60px;
  padding: 17px 10px;
}
.chat.outgoing, .chat.incoming {
  display: flex;
  margin-bottom: 20px;
}
.outgoing .details p{
  color: #fff;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 18px 0 18px 18px;
  background-color: var(--color-light);
}
.incoming .details p{
  color: #333;
  font-size: 15px;
  padding: 10px 15px;
  border-radius:  0  18px 18px 18px;
  background-color: #fff;
}
.chat-box .incoming .details{
  margin-right: auto;
  max-width: 300px;
}
.chat-box .outgoing .details{
  margin-left: auto;
  max-width: 300px;
}
/*container footer-send */
.container.footer-send {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 25px;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  box-sizing: border-box;
}
.footer-send form {
  display: grid;
  gap: 5px;
  align-items: center;
  grid-template-columns: auto 60px;
}
.footer-send form input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid var(--color-light);
  outline: none;
  border-radius: 10px;
  box-sizing: border-box;
}
.footer-send form button {
  color: #fff;
  width: 60px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--color-light);
}
.container.home-pc {
  display: none;
}
/* bagian display pc */
@media screen and (min-width: 800px) {
  body {
    overflow: hidden;
  }
  .container.menu-bars {
    display: none;
  }
  .container.contacts {
    overflow: auto;
    height: 655px;
  }
  .container.main {
    display: flex;
    align-items: flex-start;
    column-gap: 5px;
  }
  .container.section-home {
    max-width: 500px;
  }
  /* container home pc */
  .container.home-pc {
    display: block;
    width: 100%;
  }
  .header-pc {
    position: sticky;
    top: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 50px auto 30px;
    gap: 5px;
    padding: 17px 25px;
    border-radius: 0 0 20px 20px;
    background-color: #fff;
  }
  .header-pc img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
  }
  .header-pc i {
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--color-light);
  }
  /* message */
  .chat-box-pc {
    padding: 17px 10px;
    height: 655px;
    overflow: auto;
    background-color: #EFF2F7;
  }
  .chat.outgoing-pc, .chat.incoming-pc {
    display: flex;
    margin-bottom: 20px;
  }
  .outgoing-pc .details p{
    color: #fff;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 18px 0 18px 18px;
    background-color: var(--color-light);
  }
  .incoming-pc .details p{
    color: #333;
    font-size: 15px;
    padding: 10px 15px;
    border-radius:  0  18px 18px 18px;
    background-color: #fff;
  }
  .chat-box-pc .incoming-pc .details{
    margin-right: auto;
    max-width: 300px;
  }
  .chat-box-pc .outgoing-pc .details{
    margin-left: auto;
    max-width: 300px;
  }
}
