@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background: #EFF2F7;
}
.header.login {
  color: rgb(0, 134, 255);
  margin: 15px 0;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.container.section-login {
  max-width: 370px;
  width: 100%;
  padding: 17px 25px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  border-radius: 10px;
  background: #fff;
}
.container.section-login input {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  margin: 8px 0;
  font-size: 17px;
  border: 1px solid rgb(0, 134, 255, 0.5);
  outline: none;
  border-radius: 5px;
}
.container.section-login form {
  position: relative;
}
.bi-eye-slash-fill,
.bi-eye-fill {
  position: absolute;
  right: 10px;
  bottom: 82px;
  color: rgb(0, 134, 255);
  font-size: 18px;
}
.container.section-login button {
  color: #fff;
  width: 100%;
  height: 45px;
  margin: 10px 0;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 134, 255);
}
.container.section-login span {
  display: block;
  color: #000;
  font-size: 16px;
  text-align: center;
}
.container.section-login span a {
  color: #000;
}
.container.section-login span a:hover {
  text-decoration: underline;
}
.container.section-login-pc {
  display: none;
}
@media screen and (min-width: 901px) {
  body {
    display: grid;
    grid-template-columns: 50% 370px;
  }
  .container.section-login-pc {
    display: block;
  }
  .container.section-login-pc header {
    color: rgb(0, 134, 255);
    font-size: 35px;
    font-weight: 700;
  }
  .container.section-login-pc {
    max-width: 380px;
  }
  .container.section-login-pc p {
    color: #000;
    font-size: 17px;
  }
}
@media  screen and (min-width: 1300px) {
  body {
    margin: 0 60px;
  }
}
